// variabled
$maxWidth: 1280px;
$grid: 8px;
$general-section-height: 40px;

// colors
$white: #ffffff;
$black: #000000;
$lightGray: #cccccc;
$darkGray: #666666;
$darkGreen: #334433;

// borders
$lightBorder: 1px solid $lightGray;
$darkBorder: 1px solid $darkGray;
